.app_blue_theme {
    --bg-color: #bcdcf6;
    --inverted-bg-color: #1c4588;
    --primary-color: #3e83ff;
    --secondary-color: #609ffa;
    --inveted-primary-color: #2659b0;
    --inveted-secondary-color: #0449e0;
}
